doctype html
html 
    head 
        title Noor Dance Academy
        block scripts 
        block style

    body 
        nav#navbar
            ul  
                #logo   
                    img(src="/static/images/logo.jpg")
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Sevices]
                li #[a(href="/") Class Info]
                li #[a(href="/Contact") Contact]

        block content 
        footer#footer 
            | Copyright © 2025 NoorDanceAcademy.com | All Rights Are Reserved