doctype html 
html 
    head 
        style 
            include ..\static\style.css 
    body 
        nav#navbar
            ul  
                #logo   
                    img(src="/static/images/logo.jpg")
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Sevices]
                li #[a(href="/") Class Info]
                li #[a(href="/") Contact]
        section#introSection
            div Welcome To Bawa's Dance Academy
            div.small Dance Sleep Eat Then Repeat
        
        
        
        
        section#missionSection
            h2  Our Mission
            div.card 
                h3 Dance Perfection
                div.card-box
                    div.card-img 
                        img(src="/static/images/1.png")
                    div.content-img
                        p Dance Perfection is where passion meets precision.We focus on mastering technique, rhythm, and graceful expression. Every step you take brings you closer to your perfect performance.

            div.card 
                h3 Dance the way you live
                div.card-box
                    div.card-img 
                        img(src="/static/images/2.jpg")
                    div.content-img
                        p Dance Perfection is where passion meets precision.We focus on mastering technique, rhythm, and graceful expression. Every step you take brings you closer to your perfect performance.
                
            div.card 
                h3 Expert Teaching
                div.card-box
                    div.card-img 
                        img(src="/static/images/3.jpg")
                    div.content-img
                        p Dance Perfection is where passion meets precision.We focus on mastering technique, rhythm, and graceful expression. Every step you take brings you closer to your perfect performance.
        
        section#sponsorsSection
            h2 Our Sponsors
            div#sponsors 
                img(src="/static/images/s1.png",alt="Sponsor Image", class="spImage")
                img(src="/static/images/s2.jpg",alt="Sponsor Image", class="spImage")
                img(src="/static/images/s3.gif",alt="Sponsor Image", class="spImage")
                img(src="/static/images/s4.jpg",alt="Sponsor Image", class="spImage")
        footer#footer 
            | Copyright © 2025 BawaDanceAcademy.com| All Rights Are Reserved
        script 
          include ..\static\index.js