@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');


*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Yeon Sung", system-ui;
}


#logo{
    display: flex;
    height: black;
    color: white;
    align-items: center;
    margin: 0px 14px;
}


#logo img{
    height: 92px;
    border-radius: 46px;
    border: 3px solid white;
}


#navbar{
    background-color: rgba(252, 76, 76, 0.671);
    padding: 5px 8px;
}


#navbar ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    
}

#navbar li{
    list-style: none;
}

#navbar li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding: 6px 21px;
    margin: 3px;
    font-weight: bold;
}


#navbar li a:hover{
    text-decoration: none;
    color: rgba(49, 47, 47, 0.555);
    font-size: 25px;
    padding: 6px 21px;
    margin: 3px;
    font-weight: bold;
} 


#introSection{
    padding-bottom: 40px;
    font-size:3.5rem;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 300px;
    height: 450px;
    background-color: red;
    background: url('/static/bg.jpg') no-repeat center center/cover;
}


#introSection div.small{
    font-size: 2.5rem;
    
}


#missionSection{
    height: 300px;
    background-color: white;
}


#missionSection h2{
    font-size: 38px;
    text-align: center;
    margin-top: 25px;
}


.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 11px;
    width: 30%;
    height: 225px;
    margin: 23px 22px;
}


.card h3{
    text-align: center;
    margin: 22px 9px;
    font-size: 26px;
}


.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 130px;
    padding: 0 14px;

}

.card-box{
    padding: 0 10px;
}


.card-box p{
    font-size: 16px;
}




.card-img img{
    height: inherit;
}



#sponsorsSection{
    text-align: center;
    height: 300px;
    padding-top: 22px;
    font-size: 24px;
    margin-top: 24px;
    background-color: rgba(252, 76, 76, 0.671);
}

#sponsors{
    height: 120px;
    max-width: 1000px;
    margin: auto;

}

.spImage{
    height: 112%;
    margin: 20px;
}



#footer{
    display: flex;
    color: white;
    background-color: black;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
}